<aside class="sidebar" [class.minimized]="isMinimized">
    <!-- Tombol Minimize -->
    <button class="minimize-btn" (click)="toggleMinimize()">
      <i class="fas" [class.fa-arrow-left]="!isMinimized" [class.fa-arrow-right]="isMinimized"></i>
    </button>
  
    <!-- Sidebar Header -->
    <div class="sidebar-header" *ngIf="!isMinimized">
      Menu
    </div>
  
    <!-- Sidebar Navigation -->
    <ul class="nav-list sidebar-nav">
      <!-- Home -->
      <li class="nav-item">
        <a routerLink="/home" class="nav-link">
          <i class="fas fa-home"></i>
          <span *ngIf="!isMinimized">Home</span>
        </a>
      </li>
  
      <!-- Data analisa -->
      <li class="nav-item">
        <a routerLink="/analytic" class="nav-link">
          <i class="fas fa-database"></i>
          <span *ngIf="!isMinimized">Analytic Data</span>
        </a>
      </li>
  
      <!-- Sensor Management -->
      <li class="nav-item">
        <a routerLink="/sensor" class="nav-link">
          <i class="fas fa-satellite-dish"></i>
          <span *ngIf="!isMinimized">Sensor Management</span>
        </a>
      </li>
      

      <!-- Settings -->
      <li class="nav-item">
        <a routerLink="/ColorShips" class="nav-link">
          <i class="fas fa-cogs"></i>
          <span *ngIf="!isMinimized">Colorships</span>
        </a>
      </li>
    </ul>
  </aside>
  