.map-container {
    position: relative;
    height: 100vh;
    width: 100%;
  }
  
  #map {
    height: 100%;
    width: 100%;
  }
  
/* Styling untuk popup kapal */
.ship-popup {
  max-width: 250px;
}

.ship-popup h4 {
  margin: 0 0 10px 0;
  color: #2c3e50;
  font-size: 1.1em;
}

.ship-info div {
  margin: 5px 0;
  line-height: 1.4;
}

/* Styling untuk marker */
.dynamic-ship-icon {
  transition: transform 0.3s ease; /* Animasi perubahan ukuran */
}

